@import url('https://fonts.googleapis.com/css?family=Unbounded');
h1{
    font-family: unbounded;
    color: rgb(33, 33, 33);
    margin-left: -100px;
    position:fixed;
}
h1::before{
    color: #59BD86;
    content: "Health";
}
button{
color: white;
background-color: #59BD86;
text-decoration: none;
font-size: 20px;
width: 220px;
height: 80px;
border:1px solid white;
margin-right:100px;
border-radius: 15px;
margin-top: 20px;
cursor:pointer;
}
.doc{
    background-color: #198754;

}
.primaryDiv{
    display: grid;
    place-content: center;
}
img{
    width:750px;
    height: 550px;
}
.pics{
    display: none;
}
.mainDiv{
    display: flex;
    margin-left: 150px;
}
@media only screen and (max-width:325px) {
    .mainDiv{
        flex-direction: column;
    }
    .picture{
        display: none;
    }
    .pics{
        margin-top: 80px;
        display: block;
        max-width: 400px;
        height: 300px;
        margin-left: -160px;
    }
    button{
        margin-left:120px;
    }
}